/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 10px;
}

/* Basic styling for the website */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
a:hover{
    color:blue;
}
a:active{
    color:black;
}

header {
    background-color: crimson;
    color: yellow;
    padding: 20px 0;
    text-align: center;
    font-family: cursive;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.content {
    padding: 40px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.portfolio-item {
    width: 45%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.contact {
    text-align: center;
    padding: 100px 0;
    background-color: #333;
    color: #fff;
}


footer {
    text-align: center;
    background-color: crimson;
    color: yellow;
    padding: 10px 0;
    margin-top: 200px; 
    font-family: cursive;

   
}
section{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(222, 46, 46, 0.1);
    padding-bottom: 20px; 
}
h1,h2,h3{
    font-family: cursive;
}


